<div class="container">
  <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
    <div class="row">
      <div class="col-lg-2">
          <label for="formDate">From:</label>
      </div>
      <div class="col-lg-2">
          <label for="toDate">To:</label>
      </div>
      <div class="col-lg-2">
          <label for="grouping">Group by</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="form-group">
          <input class="form-control" type="date" id="formDate" [(ngModel)]="model.from" name="from"
                 placeholder="yyyy-MM-dd" min="{{minDate}}" max="{{maxDate}}" required />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <input class="form-control" type="date" id="toDate" [(ngModel)]="model.to" name="to"
                 placeholder="yyyy-MM-dd" min="{{minDate}}" max="{{maxDate}}" required />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <select class="form-control" id="grouping" required [(ngModel)]="model.grouping" name="grouping">
            <option *ngFor="let grouping of groupings" [value]="grouping.key">{{grouping.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <button type="submit" class="btn btn-success">Search</button>
        </div>
      </div>
    </div>
  </form>
  <div class="alert alert-warning" *ngIf="error">
    {{error}}
  </div>
</div>
