<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-entries-search-form></app-entries-search-form>
<app-entries-calculate-form></app-entries-calculate-form>
<app-entries></app-entries>
