<div class="container entries">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>period</th>
        <th>kW</th>
        <th>Price</th>
      </tr>
    </thead>
    <tr class="entry" *ngFor="let entry of entries">
      <td>{{entry.time | period}}</td>
      <td>{{entry.value | number:'1.0-2' }}</td>
      <td>{{entry.value | calculatePrice | number:'1.0-2' }}</td>
    </tr>
  </table>
</div>
