<div class="container">
  <form #calculateForm="ngForm" (ngSubmit)="onSubmit(calculateForm)">
    <div class="row">
      <div class="col-lg-2">
        <label for="price">Price:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="form-group">
          <input class="form-control" type="text" id="price" name="price" [(ngModel)]="price" required />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <button type="submit" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>

  </form>
</div>
